#userForm{
    -fx-background-color: rgba(31, 13, 37, 0.9);
    -fx-padding: 20px;
}
#chats{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 5);
    -fx-background-color: rgb(31, 13, 37);
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}
#chats .user{
    -fx-height: 75;
    -fx-width: 75;
}
TextField{
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10px;
    -fx-text-fill: rgb(49, 14, 45);
}
Button{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0px;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: rgb(170, 86, 86);
    -fx-text-fill: rgb(224, 166, 89);
}
Button:hover{
    -fx-border-color: rgb(255, 255, 255);
}
#notes{
    -fx-background-color: transparent;
}
#notes .viewport{
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 0px 0px 0px 0px;
}
.icon{
    -fx-border-width: 0px, 0px, 0px, 0px;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-font-size: 15px;
    -fx-font-weight: 900;
    -fx-text-fill: rgb(253, 113, 78);
}
.icon:hover{
    -fx-background-color: rgb(253, 113, 78);
    -fx-text-fill: rgb(99, 23, 81);
}
#current{
    -fx-text-fill: rgb(224, 166, 89);
}
.msg{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 10px;
    -fx-background-radius: 10px 10px 10px 10px;
}
.s{
    -fx-background-color: rgb(17, 4, 14);
}
.s Text{
    -fx-fill: rgb(255, 175, 155);
}
.r{
    -fx-background-color: rgb(253, 113, 78);
    -fx-text-alignment: left;
}
.r Text{
    -fx-fill: rgb(10, 2, 8);
}
.short{
    -fx-fill: rgb(255, 255, 255);
    -fx-font-weight: 900;
    -fx-font-size: 36;
}